* {
  box-sizing: border-box;
  margin: 0;
}

button {
  border: 1px solid grey;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: bisque;
}

button:hover {
  border: 1px solid green;
  background-color: black;
  color: azure;
}

button:active {
  border: 1px solid lightgreen;
  background-color: lightblue;
  color: aquamarine;
}

.btn-inc {
  border-radius: 50% 50% 0 0;
}

.btn-dec {
  border-radius: 0 0 50% 50%;
}

.title {
  font-size: 2em;
  text-align: center;
  background-color: rgb(122, 206, 186);
}

.player-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: green;
  margin-top: 5px;
  margin-bottom: 5px;
}

.players-display {
  display: flex;
  flex-wrap: wrap;
}

.player-box {
  width: 50%;
  height: 50%;
  background-color: aliceblue;
  border-radius: 15%;
}

.selection-group {
  display: flex;
  justify-content: center;
}

.player-select {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px;
  background-color: white;
  flex-wrap: wrap;
  border-radius: 5%;
}

.selectable {
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: .2s;
}

.selectable:hover {
  width: 100px;
  height: 100px;
  transition: .2s;
}

.selectable.active {
  width: 150px;
  height: 150px;
  cursor: default;
  transition: .2s;
}

.player-select.selection-made .selectable:not(.active) {
  display: none;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
  border: 2px solid grey;
  width: 25%;
  border-radius: 10%;
  background-color: beige;
}

.stats-box {
  display: flex;
  align-items: center;
}

.power-img {
  height: 30px;
  width: 40px;
}

.money-img {
  height: 30px;
  width: 40px;
}

.display {
  text-align: center;
  background-color: white;
  border: 1px solid green;
}

.stats-img {
  border: 1px solid red;
}